@model PagedList.IPagedList<GamesStore.Models.Game>

@{
    ViewData["Title"] = "Home Page";
}
@foreach (var game in ViewBag.Games)
{
    <div class="card" style="width: auto">
        <div class="card-body">
            <div class="float-right">
                @if (game.Price != 0)
                {
                    <div class="p-1 mb-2 bg-primary text-white rounded text-center">@game.Price $</div>
                }
                else
                {
                    <div class="p-1 mb-2 bg-primary text-white rounded text-center">FreeToPlay</div>
                }
            <form action="Home/Basket?gameId=@game.GameId" method="post">
                <input class="btn btn-success" type="submit" value="Добавить в корзину" />
            </form>
        </div>

            <h5 class="card-title">@game.Name</h5>
            <p class="card-text">@game.Description</p>
        </div>
    </div>
}
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount


@*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
